Query_1 > Identify the parties to whom the payment is pending with their total value in decreasing avg overdue days in Modi Chem

Response:
> **Company:** Modi Chemplast Materials Pvt Ltd | **Tally Date:** 01-Jan-2026 | **Active Period:** 01-Apr-2025 to 31-Mar-2026

[Modi Chemplast Materials Pvt Ltd] I found multiple accounts matching 'identify to m payment is with ir value in decreasing avg overdue days in chem'. Did you mean:
   - **Abhishek M Kirve**
   - **Akshar Plast Chem Investment Pvt Ltd**

*(Query executed in 1.61 seconds)*
-----------------------------------------------------------------
Query_2 > List the parties to whom I need to make the payment this week in decreasing pending amount in Modi CHem

Response:
> **Company:** Modi Chemplast Materials Pvt Ltd | **Tally Date:** 01-Jan-2026 | **Active Period:** 29-Dec-2025 to 04-Jan-2026

[Modi Chemplast Materials Pvt Ltd] I found multiple accounts matching 'to m i need to make payment this week in decreasing in chem'. Did you mean:
   - **Abhishek M Kirve**
   - **Akshar Plast Chem Investment Pvt Ltd**

*(Query executed in 0.39 seconds)*
-----------------------------------------------------------------
Query_3 > Which customers have not paid for more than 60 days In Modi Chem

Response:
> **Company:** Modi Chemplast Materials Pvt Ltd | **Tally Date:** 01-Jan-2026 | **Active Period:** 01-Apr-2025 to 31-Mar-2026

[Modi Chemplast Materials Pvt Ltd] I found multiple accounts matching 'have not paid more than 60 days in chem'. Did you mean:
   - **CST PAID (Pur)**
   - **CST PAID PUR(VAPI)**

*(Query executed in 0.63 seconds)*
-----------------------------------------------------------------
Query_4 > Total cleared bills for Reliance Industries Ltd

Response:
> **Company:** Bella Casa Data for User Activity | **Tally Date:** 08-Oct-2017 | **Active Period:** 01-Apr-2017 to 31-Mar-2018

[Bella Casa Data for User Activity] I found multiple accounts matching 'cleared reliance industries ltd'. Did you mean:
   - **AASTHA INDUSTRIES**
   - **ARPIT INDUSTRIES**

*(Query executed in 0.92 seconds)*
-----------------------------------------------------------------
Query_5 > give the party who has the least number of pending bills in last 10 days in Modi Chem

Response:
> **Company:** Modi Chemplast Materials Pvt Ltd | **Tally Date:** 01-Jan-2026 | **Active Period:** 22-Dec-2025 to 01-Jan-2026

[Modi Chemplast Materials Pvt Ltd] I found multiple accounts matching 'give has least number in last 10 days in chem'. Did you mean:
   - **Darshan Chem**
   - **Dharam Chem Implex**

*(Query executed in 0.57 seconds)*
-----------------------------------------------------------------